body {
  background-color: black;
  margin: 0px;
  overflow: hidden;
}

.gridCell {
  float: left;
}

.gridCell.blocked {
  background: gray;
}

.gridCell.inCell {
  background: red;
}
.gridCell.outCell {
  background: greenyellow;
}
