body {
  background-color: black;
  margin: 0px;
  overflow: hidden;
}

.gridCell {
  float: left;
}

.gridCell.blocked {
  background: gray;
}

.gridCell.inCell {
  background: red;
}
.gridCell.outCell {
  background: greenyellow;
}

svg {
  position: fixed;
  z-index: -1;
}

svg path {
  fill: none;
  stroke-width: 5px;
  stroke: red;
}
